RewriteEngine On
RewriteBase /

# Force non-www version
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Remove .html
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(about|projects|skills|find)\.html\ HTTP/
RewriteRule ^(about|projects|skills|find)\.html$ $1 [R=302,L]

# Remove trailing slash
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(about|projects|skills|find)/\ HTTP/
RewriteRule ^(.*)$ %1 [R=302,L]
