html {
    margin: 0;
}

body {
    font-family: sans-serif;
    padding: 0.5em;
}

h1 {
    color: #555;
    margin: 0.3em 0 0.7em 0;
}

h1 small {
    display: block;
    color: #999;
    font-size: 0.7em;
    font-weight: normal;
    padding-top: 0.5em;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid transparent;
}

nav a {
    display: inline-block;
    padding: 1.2em;
    text-decoration: none;
    color: #666;
    font-weight: bolder;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

nav a:hover{
    color: #f17575;
}

nav a.active{
    color: #f17575;
}

article, section {
    box-sizing: border-box;
    color: #555;
    line-height: 2em;
    padding: 1em;
}

article h2 {
    font-weight: 500;
    font-style: italic;
}

article h3 {
    font-weight: 500;
    font-style: italic;
}

article a {
    text-decoration: none;
    color: #2da9d2;
}

article li {
    margin: 0.5em 0 0.5em 0;
}

th, td {
    padding: 0 0.5em 0 0.5em;
}

/* Some utility classes */
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.light {
    color: #888;
}

.big {
    font-size: 1.2em;
}

.italic {
    font-style: italic;
}

.indent {
    margin-left: 1em;
}

.indent-2 {
    margin-left: 2em;
}

.semantic-list {
    list-style: none;
    padding: 0;
}

/* Form elements */
.input-parent {
    margin: 1em;
    padding: 1em;
}

.input-parent label[for] {
    display: none;
}

.input-text, .input-area {
    width: 100%;
    padding: 10px 15px;
    font-size: 1em;
    border: 1px solid rgba(40,40,40,.2);
    border-radius: 4px;
}

.input-text:focus, .input-area:focus {
    outline: none;
    background-color: #fcf7f7;
}

.input-text {
}

.input-area {
    max-width: 100%;
    min-height: 8em;
}

.btn[type=submit] {
    margin: 1em 0;
    padding: 1em;
    background: #4e82ce;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

/* Page layout classes */
.container {
    max-width: 960px;
    margin: auto;
}

.parent {
    margin: 2em 0 2em 0;
    padding: 1em;
}

.subsection {
    margin: 0;
    padding: 0.4em;
}

.row {
    display: block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.columns:after {
    content: "";
    display: table;
    clear: both;
}

.column-half {
    display: inline-block;
    width: 50%;
    float: left;
}

.columns figure {
    text-align: center;
}

.columns img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: 200px;
}

.img-slides img {
    display: none;
}

@media (max-width: 600px) {
    article, section {
        padding: 0;
    }

    .column-half {
        width: 100%;
    }

    .columns img {
        max-width: 100%;
    }
}
